/*
Selectores de clase CSS (por orden de mayor a menor

Selector universal con * afecta a todo el documento html

Selector de clase (con .)

Selector de id (con #)


*/



@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous&display=swap');
/* 
* {
    margin: 0px;
    font-family: 'Permanent Marker', cursive;
}

div {
    background-color: coral;
}

body {
    
    /* background-image: url("../images/bgFondo.jpg"); 
    background-color: rgba(73, 85, 197, 0.342);
}

h1 {
    color:rgba(182, 89, 206, 0.767)
}


/* Selector por id utilizamos # + id del elemento 
#formValidarId{
    background-color: rgb(119, 119, 219);
}

.rojo{
    color:red
} */



* {
    margin: 0px;
    font-family: 'Righteous', cursive;
}

body{
    background-color: orange;
}

#cuadroPrincipalId p{
    text-align: center;
   margin-bottom: 10px;
}


.ancho100{
    width: 90%;
    padding:5px;
    margin-bottom: 15px;
}

#cuadroPrincipalId{
    width: 40%;
    margin: auto;
    
    padding: 10px;
    
   
    background-color: whitesmoke;
}

.botonAzul{
    background-color: turquoise;
    color:whitesmoke;
    padding-right: 5px;

}

.texto25{
    font-size:0.5em;
}